<h1>Calculate monthly payment</h1> 

<form action="/payment/results">
<label for="APR">APR</label>
<input id="APR" type="text" name="apr" placeholder="E.g 5.42">

<label for="duration">Number of years</label>
<input id="duration" type="text" name="years" placeholder="How many years to repay?">

<label for="prin">Principal</label>
<input id="prin" type="text" name="principal" placeholde="How much prinicpal?">

<button>Calculate monthly payment</button>
</form>
