<h1>
  Random Results
</h1>

<dl>
  <dt>
    Minimum
  </dt>
  <dd>
    <%= @minimum_num %>
  </dd>

  <dt>
    Maximum
  </dt>
  <dd>
    <%= @maximum_num %>
  </dd>

  <dt>
    Random Number
  </dt>
  <dd>
    <%= @random.to_f %>
  </dd>
</dl>

<a href="/random/new">
  Pick another random number
</a>
