<h1>Results of a square calculation</h1>
<h1>
  Square Root Results
</h1>

<dl>
  <dt>
    Number
  </dt>
  <dd>
    <%= @users_number %>
  </dd>

  <dt>
    Square Root
  </dt>
  <dd>
    <%= @result %>
  </dd>
</dl>

<a href="/square_root/new">
  Calculate another square
</a>
